.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

    .result {
        margin-top: 30px;

        strong {
            display: block;
            margin-bottom: 10px;
        }
    }
}